.light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #060672;
  --primary-color: #1443c4;
  --secondary-color: #2469ff;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
  --theme-color: white;
  --inerted-theme-color: black;
}