.header {
  width: 100%;
  height: var(--header-height);
  background: var(--inverted-bg-color);

  &__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: var(--container-width);
    width: calc(100% - (var(--container-gap) * 2));
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__logo {
    display: block;
    width: 100%;
    max-width: max-content;
  }

  &__logo-link {
    display: block;
    width: 100%;
    height: 100%;

    picture {
      display: block;

      img,svg {
       display: block;
        width: 100%;
      }
    }
    svg, path {
      display: block;
      width: 100%;
      max-width: max-content;
      height: 100%;
    }
  }
}